---
import type { CollectionEntry } from "astro:content";

import {
    ChevronRightIcon,
    FolderCodeIcon,
    ExternalLinkIcon,
    GithubIcon,
    InstagramIcon,
    FacebookIcon,
} from "lucide-react";

import MarkdownRenderer from "@/components/ui/markdown-renderer.astro";
import Badge from "@/components/ui/badge.astro";

interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<div class="flex items-center not-last:border-b">
    <FolderCodeIcon className="mx-4.5 size-5 shrink-0 text-muted-foreground" />

    <div class="flex w-full flex-col gap-y-3 border-l p-4">
        <a
            href={!project.data.noShow ? `/projects/${project.id}` : project.data.source || project.data.preview}
            class="group flex w-full cursor-pointer flex-col gap-y-3"
        >
            <div class="group flex w-full items-center justify-between text-left select-none">
                <h3 class="cursor-pointer text-lg font-semibold underline-offset-6 group-hover:underline">
                    {project.data.name}
                </h3>
                <ChevronRightIcon
                    className="size-4 shrink-0 text-muted-foreground transition-transform duration-150 group-hover:translate-x-1"
                />
            </div>
            <MarkdownRenderer className="text-xs leading-5 font-medium md:text-sm" content={project.data.description} />
        </a>

        <div class="flex items-start justify-between md:items-center">
            {
                project.data.technologies.length > 0 && (
                    <div class="flex flex-wrap gap-1.5">
                        {project.data.technologies.map(technology => {
                            return <Badge>{technology}</Badge>;
                        })}
                    </div>
                )
            }
            {
                (project.data.preview || project.data.source) && (
                    <div class="flex items-center gap-3">
                        {project.data.facebook && (
                            <a
                                href={project.data.facebook}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="hidden items-center gap-1.5 text-xs font-medium text-muted-foreground transition-colors hover:text-foreground md:flex"
                            >
                                <FacebookIcon className="size-3" />
                                Facebook
                            </a>
                        )}
                        {project.data.instagram && (
                            <a
                                href={project.data.instagram}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="hidden items-center gap-1.5 text-xs font-medium text-muted-foreground transition-colors hover:text-foreground md:flex"
                            >
                                <InstagramIcon className="size-3" />
                                Instagram
                            </a>
                        )}
                        {project.data.preview && (
                            <a
                                href={project.data.preview}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="flex items-center gap-1.5 text-xs font-medium text-muted-foreground transition-colors hover:text-foreground"
                            >
                                <ExternalLinkIcon className="size-3" />
                                Preview
                            </a>
                        )}
                        {project.data.source && (
                            <a
                                href={project.data.source}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="flex items-center gap-1.5 text-xs font-medium text-muted-foreground transition-colors hover:text-foreground"
                            >
                                <GithubIcon className="size-3" />
                                Source
                            </a>
                        )}
                    </div>
                )
            }
        </div>
    </div>
</div>
