---
import { Icon } from 'astro-icon/components';

import PageLayout from '@/layouts/BaseLayout.astro';
import Button from '@/components/Button.astro';

const tools = [
	{
		label: 'Languages',
		tools: [
			{
				name: 'C/C++',
				description: 'DSA, Problem-Solving',
				href: 'https://en.wikipedia.org/wiki/C%2B%2B',
				iconPath: 'cpp',
				iconBgColour: '#00427d'
			},
			{
				name: 'JavaScript/TypeScript',
				description: 'Web Development, Frontend',
				href: 'https://developer.mozilla.org/en-US/docs/Learn/JavaScript',
				iconPath: 'javascript',
				iconBgColour: '#f0d91d'
			},
			{
				name: 'PHP',
				description: 'Web Development, Backend',
				href: 'https://www.php.net',
				iconPath: 'php',
				iconBgColour: '#4f5b93'
			},
			{
				name: 'Elixir',
				description: 'Functional Programming',
				href: 'https://elixir-lang.org/',
				iconPath: 'elixir',
				iconBgColour: '#51345f'
			}
		]
	},
	{
		label: 'Frameworks',
		tools: [
			{
				name: 'Laravel',
				description: 'The PHP Framework',
				href: 'https://laravel.com',
				iconPath: 'laravel',
				iconBgColour: '#f9332b'
			},
			{
				name: 'WordPress',
				description: 'Plugin Development',
				href: 'https://wordpress.org',
				iconPath: 'wordpress',
				iconBgColour: '#3858e9'
			},
			{
				name: 'Phoenix',
				description: 'The Elixir Framework',
				href: 'https://www.phoenixframework.org/',
				iconPath: 'phoenix',
				iconBgColour: '#fe6f61'
			},
			{
				name: 'React.js',
				description: 'A JavaScript library for building user interfaces',
				href: 'https://react.dev',
				iconPath: 'react',
				iconBgColour: '#58c4dc'
			},
			{
				name: 'Vue.js',
				description: 'The Progressive JavaScript Framework',
				href: 'https://vuejs.org/',
				iconPath: 'vue',
				iconBgColour: '#5aa5cf'
			},
			{
				name: 'TailwindCSS',
				description: 'The utility-first CSS framework',
				href: 'https://tailwindcss.com',
				iconPath: 'tailwindcss',
				iconBgColour: '#0da5e9'
			}
		]
	},

	{
		label: 'Others',
		tools: [
			{
				name: 'Linux',
				description: 'OS',
				href: 'https://www.kernel.org/',
				iconPath: 'linux',
				iconBgColour: '#f1b90f'
			},
			{
				name: 'Arc',
				description: 'Browser',
				href: 'https://arc.net/',
				iconPath: 'arc',
				iconBgColour: '#414350'
			},
			{
				name: 'Warp',
				description: 'Terminal',
				href: 'https://www.warp.dev',
				iconPath: 'warp',
				iconBgColour: '#01a2ce'
			},
			{
				name: 'Git',
				description: 'Version Control',
				href: 'https://git-scm.com',
				iconPath: 'git',
				iconBgColour: '#f74e27'
			},
			{
				name: 'Docker',
				description: 'Containerizer',
				href: 'https://git-scm.com',
				iconPath: 'docker',
				iconBgColour: '#f74e27'
			},

			{
				name: 'Neovim',
				description: 'IDE',
				href: 'https://neovim.io',
				iconPath: 'neovim',
				iconBgColour: '#03b952'
			},
			{
				name: 'VS Code',
				description: 'IDE',
				href: 'https://code.visualstudio.com',
				iconPath: 'vscode',
				iconBgColour: '#2C2C32'
			},
			{
				name: 'Todoist',
				description: 'Todo List',
				href: 'https://www.notion.so/product',
				iconPath: 'todoist',
				iconBgColour: '#de483a'
			},
			{
				name: 'ChatGPT',
				description: 'AI',
				href: 'https://chat.openai.com/',
				iconPath: 'chatgpt',
				iconBgColour: '#06A67F'
			}
		]
	}
];
---

<PageLayout meta={{ title: 'Tools' }}>
	<div class="w-full">
		<Button title="Back" href="/" style="button">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="14"
				height="14"
				viewBox="0 0 24 24"
				slot="icon-before"
			>
				<path
					fill="currentColor"
					d="m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z"
				>
				</path>
			</svg>
		</Button>

		<div class="mt-5 flex w-full flex-col gap-y-10">
			<div>
				<h1 class="mb-1 text-2xl font-bold">Tools</h1>
				<p>Tools and software I use daily</p>
			</div>
			{
				tools.map((tool) => (
					<div class="flex flex-col gap-y-4 rounded-xl border border-border px-3 py-5 sm:gap-y-6">
						<h2 class="px-2 text-lg font-medium">{tool.label}</h2>
						<div class="grid grid-cols-1 gap-x-2 gap-y-3 sm:grid-cols-2 sm:gap-y-4">
							{tool.tools.map((t) => (
								<a
									class="group relative hover:bg-transparent "
									href={t.href}
									id={t.name}
									target="_blank"
								>
									<div class="relative flex flex-row items-center gap-x-4 px-2 py-0.5 transition-all">
										<div class="absolute -inset-0 z-10 rounded-lg border border-border bg-muted opacity-0 transition-all group-hover:opacity-50" />
										<Icon name={t.iconPath} class="z-20 h-10 w-10 rounded-lg bg-muted p-2" />
										<div class="z-20 flex flex-col">
											<h3 class="font-medium">{t.name}</h3>
											<p class="text-muted-foreground">{t.description}</p>
										</div>
									</div>
								</a>
							))}
						</div>
					</div>
				))
			}
		</div>
	</div>
</PageLayout>
