---
import tools from '@/config/tools';

import { Icon } from 'astro-icon/components';

import { siteConfig } from '@/site.config';

import Button from '@/components/Button.astro';
import Layout from '@/components/Layout.astro';
---

<Layout meta={{ title: `Tools & software ${siteConfig.author} use daily` }}>
	<div class="w-full">
		<Button title="Back" href="/" style="button">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="14"
				height="14"
				viewBox="0 0 24 24"
				slot="icon-before"
			>
				<path
					fill="currentColor"
					d="m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z"
				>
				</path>
			</svg>
		</Button>

		<div class="mt-5 flex w-full flex-col gap-y-10">
			<div>
				<h1 class="mb-1 text-2xl font-bold">Tools</h1>
				<p>Tools & software I use daily</p>
			</div>
			{
				tools.map((tool) => (
					<div class="flex flex-col gap-y-4 rounded-xl border border-border px-3 py-5 sm:gap-y-6">
						<h2 class="px-2 text-lg font-medium">{tool.label}</h2>
						<div class="grid grid-cols-1 gap-x-2 gap-y-3 sm:grid-cols-2 sm:gap-y-4">
							{tool.tools.map((t) => (
								<a
									class="group relative hover:bg-transparent "
									href={t.href}
									id={t.name}
									target="_blank"
								>
									<div class="relative flex flex-row items-center gap-x-4 px-2 py-0.5 transition-all">
										<div class="absolute -inset-0 z-10 rounded-lg border border-border bg-muted opacity-0 transition-all group-hover:opacity-50" />
										<Icon name={t.icon} class="z-20 h-10 w-10 rounded-lg bg-muted p-2" style={{}} />
										<div class="z-20 flex flex-col">
											<h3 class="font-medium">{t.name}</h3>
											<p class="text-muted-foreground">{t.description}</p>
										</div>
									</div>
								</a>
							))}
						</div>
					</div>
				))
			}
		</div>
	</div>
</Layout>
