---
import Head from './Head.astro';
import Footer from './Footer.astro';
import Header from './Header.astro';
import ThemeProvider from './ThemeProvider.astro';

import SpeedInsights from '@vercel/speed-insights/astro';

import { siteConfig } from '@/config/site';
import { cn } from '@/lib/utils';

interface Props {
	title: string;
	description?: string;
	ogImage?: string | undefined;
	articleDate?: string | undefined;
}

const { title, articleDate, description = siteConfig.description, ogImage } = Astro.props;
---

<html lang={siteConfig.lang}>
	<Head articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	<body class="flex justify-center bg-background">
		<ThemeProvider />
		<main
			class={cn(
				'flex min-h-screen w-screen max-w-[60rem] flex-col',
				'items-center px-6 pb-10 pt-7 font-satoshi text-[0.92rem]',
				'leading-relaxed selection:bg-red-500 selection:text-white sm:px-10 lg:px-10'
			)}
		>
			<Header />
			<slot />
			<Footer />
		</main>
		<SpeedInsights />
	</body>
</html>
