---
import Head from "./Head.astro";
import Footer from "./Footer.astro";
import Header from "./Header";
import ThemeProvider from "./ThemeProvider.astro";

import SpeedInsights from "@vercel/speed-insights/astro";

import { siteConfig } from "@/config/site";

interface Props {
    title: string;
    description?: string;
    ogImage?: string | undefined;
    articleDate?: string | undefined;
}

const { title, articleDate, description = siteConfig.description, ogImage } = Astro.props;
---

<html lang={siteConfig.lang}>
    <Head articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
    <body
        class="mx-auto w-screen max-w-[60rem] bg-background px-6 pb-10 font-satoshi text-[0.92rem] leading-relaxed selection:bg-red-500 selection:text-white sm:px-10 lg:px-10"
    >
        <ThemeProvider />
        <Header client:load />
        <main class="min-h-[calc(100vh-40px-96px-96px-114.91px)]">
            <slot />
        </main>
        <Footer />
        <SpeedInsights />
    </body>
</html>
