---
import { getArticles } from "~/lib/articles";
import { time } from "~/lib/time";

import { Container } from "~/components/ui/container";
import { Back } from "~/components/screens/article/back";

import Layout from "~/components/layouts/Layout.astro";

export async function getStaticPaths() {
    const articles = await getArticles();

    return articles.map((article) => ({
        params: { slug: article.slug },
        props: { article }
    }));
}

const { article } = Astro.props;

const { Content } = await article.render();
---

<Layout name={article.data.title} pathname={article.slug} description={article.data.description}>
    <Container class="mt-16 lg:mt-32">
        <div class="xl:relative">
            <div class="mx-auto max-w-2xl">
                <Back client:load />
                <article>
                    <header class="flex flex-col">
                        <h1
                            class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
                        >
                            {article.data.title}
                        </h1>
                        <time
                            datetime={article.data.date.toISOString()}
                            class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500"
                        >
                            <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
                            ></span>
                            <span class="ml-3">{time.formatToLongDate(article.data.date)}</span>
                        </time>
                    </header>
                    <div
                        class="dark:prose-hr:border-zinc-800 prose prose-lg dark:prose-invert mt-8 max-w-none pt-6 text-xl"
                    >
                        <Content />
                    </div>
                </article>
            </div>
        </div>
    </Container>
</Layout>
