---
import { name } from "~/config/personal";

import { getArticles } from "~/lib/articles";
import { formatDate } from "~/lib/utils";

import SiteLayout from "~/components/layouts/site-layout/index.astro";

const articles = (await getArticles()).slice(0, 10);
---

<SiteLayout
    title={`Articles - ${name}`}
    description="A collection of my favorite technical articles, covering web development, full-stack engineering, and software insights."
    class="max-w-2xl"
>
    <h1 class="mb-4 text-2xl font-extrabold text-black">Articles</h1>

    <div class="space-y-6 text-lg leading-normal">
        <p>Over the years I’ve published a few dozen articles — some more noteworthy than others.</p>
        <p>Here are some of my personal favorites.</p>
    </div>

    <ul class="mt-12 space-y-6">
        {
            articles.map((article) => (
                <li>
                    <span class="mb-1 block text-xs font-semibold tracking-wide uppercase">
                        {formatDate(article.data.date)}
                    </span>
                    <a
                        href={`/articles/${article.slug}`}
                        class="text-lg font-bold text-black no-underline hover:underline"
                    >
                        {article.data.title}
                    </a>
                    <p class="mt-1 text-base leading-normal">{article.data.description}</p>
                    <div class="mt-2 text-base leading-normal">
                        <a
                            href={`/articles/${article.slug}`}
                            class="text-sm no-underline hover:text-black hover:underline"
                        >
                            Read this article &rarr;
                        </a>
                    </div>
                </li>
            ))
        }
    </ul>

    <p class="mt-12 space-y-6 text-lg leading-normal">
        Read the rest of my articles in the <a href="/articles/archives" class="text-black underline">archives</a>.
    </p>
</SiteLayout>
