---
import { getArticles } from "~/lib/articles";
import { time } from "~/lib/time";

import { Container } from "~/components/ui/container";
import { Card, CardCta, CardDescription, CardEyebrow, CardTitle } from "~/components/ui/card";

import Layout from "~/components/layouts/layout/index.astro";

const headline = "I write about things I’m learning and things I’m building.";

const articles = await getArticles();
---

<Layout name="Articles" pathname="/articles" description={headline}>
    <Container class="mt-16 sm:mt-32">
        <header class="max-w-2xl">
            <h1
                class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
            >
                {headline}
            </h1>
            <p class="mt-6 text-lg text-zinc-600 dark:text-zinc-400">
                All of my long-form thoughts on programming, leadership, infrastructure, and more.
            </p>
        </header>
        <div class="mt-16 sm:mt-20">
            <div class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
                <div class="flex max-w-3xl flex-col space-y-16">
                    {
                        articles.map((article) => (
                            <article class="md:grid md:grid-cols-4 md:items-baseline">
                                <Card class="md:col-span-3">
                                    <CardTitle href={`/articles/${article.slug}`}>
                                        {article.data.title}
                                    </CardTitle>
                                    <CardEyebrow
                                        as="time"
                                        date-time={article.data.date}
                                        class="md:hidden"
                                        decorate
                                    >
                                        {time.formatToLongDate(article.data.date)}
                                    </CardEyebrow>
                                    <CardDescription>{article.data.description}</CardDescription>
                                    <CardCta>Read article</CardCta>
                                </Card>
                                <CardEyebrow
                                    as="time"
                                    date-time={article.data.date}
                                    class="mt-1 hidden md:block"
                                >
                                    {time.formatToLongDate(article.data.date)}
                                </CardEyebrow>
                            </article>
                        ))
                    }
                </div>
            </div>
        </div>
    </Container>
</Layout>
