---
import { links } from "~/lib/links";

import A from "./a.astro";
---

<div class="prose dark:prose-invert mt-6 space-y-7 text-lg text-zinc-600 dark:text-zinc-400">
    <p>
        After completing high school in 2020, I began programming with <b>C</b>, inspired by Tamim
        Shahriar Subeen's
        <A href={links.cpbook}>Computer Programming Book</A>. I honed my skills by solving
        <A href={links.online_judges}>1100+ problems</A>
        on competitive programming platforms using
        <i>C/C++</i>, gaining a strong foundation in
        <A href={links.dsa_library}>data structures and algorithms</A> over 1.5 years.
    </p>
    <p>
        Later, I transitioned to web development, starting with <i>Node.js</i> and
        <i>React</i>, and now specialize in <i>Laravel</i> and <i>React</i>
        for building dynamic full-stack applications. I also have experience in
        <i>WordPress plugin development</i> and have worked contractually with
        <A href={links.finnext}>Finnext</A>
        on several notable projects.
    </p>
    <p>
        My technical journey has led me to develop expertise in modern web technologies including
        <A href={links.typescript}>JavaScript/TypeScript</A>, <A href={links.php}>PHP</A>, <A
            href={links.laravel}>Laravel</A
        >, <A href={links.react}>React</A>, <A href={links.wordpress}>WordPress</A>, and{" "}
        <A href={links.tailwindcss}>TailwindCSS</A>. I've built several full-stack applications. I'm
        particularly proud of building
        <A href="https://paystubhero.com">paystubhero.com</A>, a SaaS application, and working with
        them from mid-2023 until now as part of Finnext.
    </p>
    <p>
        As a developer, I believe in writing clean, maintainable code and following best practices
        of the Laravel community. I'm experienced with modern development workflows using <A
            href={links.git}>Git</A
        >,
        <A href={links.ubuntu}>Linux</A>, <A href={links.tmux}>Tmux</A>, and
        <A href={links.neovim}>Neovim</A>. I enjoy mentoring junior developers and contributing to
        open-source projects whenever possible.
    </p>
    <p>
        My goal is to join a forward-thinking team where I can contribute to meaningful projects
        while continuing to grow as a developer. I'm particularly interested in opportunities that
        involve
        <i
            >real-world applications that will make people's and developers' lives a little bit
            easier.</i
        >
    </p>
    <a href="/projects">See my projects</a>
</div>
