---
import "~/styles/global.css";

import { Header } from "./header";

import Footer from "./footer.astro";
import Head from "./head.astro";

interface Props {
    title?: string;
    name?: string;
    pathname?: string;
    description?: string;
    tags?: string[];
}

const { title, name, pathname, description, tags } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
    <Head title={title} name={name} pathname={pathname} description={description} tags={tags} />
    <body class="h-full w-full bg-zinc-50 dark:bg-black">
        <div class="fixed inset-0 flex justify-center sm:px-8">
            <div class="flex w-full max-w-7xl lg:px-8">
                <div
                    class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"
                >
                </div>
            </div>
        </div>
        <div class="relative">
            <Header pathname={Astro.url?.pathname} client:load />
            <main class="flex-auto"><slot /></main>
            <Footer />
        </div>
    </body>
</html>

<script is:inline>
    const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("is-dark-mode")) {
            return localStorage.getItem("is-dark-mode") === "true" ? "dark" : "light";
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
    })();
    if (theme === "dark") document.documentElement.classList.add("dark");
</script>
