---
import { name } from "~/lib/info";
import { experiences, educations } from "~/lib/experiences";

import SiteLayout from "~/components/layouts/site-layout/index.astro";
import Heading2 from "~/components/elements/heading2.astro";
import Subheading from "~/components/elements/subheading.astro";
---

<SiteLayout
    title={`Experience - ${name}`}
    description="I've worked with various companies, building software solutions and gaining valuable experience in full-stack development."
>
    <Heading2>Experience</Heading2>

    <Subheading>
        I've worked with various companies, building software solutions and gaining valuable experience in full-stack
        development.
    </Subheading>

    <section class="mb-20">
        <h2 class="mb-6 text-2xl font-semibold text-black">Work Experience</h2>
        <ul class="space-y-12">
            {
                experiences.map((exp) => (
                    <li class="space-y-4">
                        <h3 class="text-lg font-bold text-black">
                            {exp.role} at{" "}
                            <a href={exp.link} class="underline underline-offset-2" target="_blank">
                                {exp.company}
                            </a>
                        </h3>
                        <p class="text-sm0">
                            {exp.start} – {exp.end}
                        </p>
                        <ul class="list-disc space-y-2 pl-1 text-sm">
                            {exp.highlights.map((point) => (
                                <li>{point}</li>
                            ))}
                        </ul>
                    </li>
                ))
            }
        </ul>
    </section>

    <section class="mb-16">
        <h2 class="mb-6 text-2xl font-semibold text-black">Education</h2>
        <ul class="space-y-12">
            {
                educations.map((edu) => (
                    <li class="space-y-3">
                        <h3 class="text-lg font-bold text-black">
                            {edu.degree} – {edu.institution}
                        </h3>
                        <p class="text-sm">{edu.period}</p>
                        <p class="text-sm">{edu.description}</p>
                    </li>
                ))
            }
        </ul>
    </section>
</SiteLayout>
