---
import { name } from "~/lib/info";

import { experiences, educations } from "~/lib/experiences";

import SiteLayout from "~/components/layouts/site-layout/index.astro";
---

<SiteLayout
    title={`Experience - ${name}`}
    description="I've worked with various companies, building software solutions and gaining valuable experience in full-stack development."
>
    <h1 class="mb-4 text-2xl font-extrabold text-black">Professional Experience</h1>
    <p class="space-y-6 text-lg leading-normal">
        I've worked with various companies, building software solutions and gaining valuable experience in full-stack
        development.
    </p>
    <div class="mt-12 space-y-10">
        <section>
            <h2
                class="mb-10 flex items-center gap-3 text-2xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100"
            >
                Work Experience
            </h2>
            <div class="space-y-8">
                {
                    experiences.map((exp) => (
                        <div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
                            <div class="flex items-center gap-4">
                                <div class="flex-auto">
                                    <h3 class="text-lg font-semibold text-zinc-800 dark:text-zinc-100">
                                        {exp.company}
                                    </h3>
                                    <div class="flex items-center gap-2">
                                        <span class="text-sm text-zinc-600 dark:text-zinc-400">{exp.role}</span>
                                        <span class="text-zinc-400 dark:text-zinc-500">•</span>
                                        <span class="text-sm text-zinc-500 dark:text-zinc-500">
                                            {exp.start} - {exp.end}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {/*<!-- <p class="mt-4 text-sm text-zinc-600 dark:text-zinc-400">{exp.description}</p> -->*/}
                            <ul class="mt-4 space-y-2">
                                {exp.highlights.map((highlight) => (
                                    <li class="flex items-start gap-2 text-sm text-zinc-600 dark:text-zinc-400">
                                        <span>{highlight}</span>
                                    </li>
                                ))}
                            </ul>
                        </div>
                    ))
                }
            </div>
        </section>
        <section>
            <h2
                class="mb-10 flex items-center gap-3 text-2xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100"
            >
                Education
            </h2>
            <div class="space-y-8">
                {
                    educations.map((edu) => (
                        <div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
                            <h3 class="text-lg font-semibold text-zinc-800 dark:text-zinc-100">{edu.institution}</h3>
                            <div class="mt-2 flex items-center gap-2">
                                <span class="text-sm text-zinc-600 dark:text-zinc-400">{edu.degree}</span>
                                <span class="text-zinc-400 dark:text-zinc-500">•</span>
                                <span class="text-sm text-zinc-500 dark:text-zinc-500">{edu.period}</span>
                            </div>
                            <p class="mt-4 text-sm text-zinc-600 dark:text-zinc-400">{edu.description}</p>
                        </div>
                    ))
                }
            </div>
        </section>
    </div>
</SiteLayout>
