---
import { name } from "~/config/about";
import { experiences, educations } from "~/config/experiences";

import SiteLayout from "~/components/layouts/site-layout/index.astro";
---

<SiteLayout
    title={`Experience - ${name}`}
    description="I've worked with various companies, building software solutions and gaining valuable experience in full-stack development."
>
    <section class="space-y-10">
        <h2 class="mb-4 text-2xl font-extrabold text-black">Work Experience</h2>

        <p class="text-lg leading-normal">
            I've worked with various companies, building software solutions and gaining valuable experience in
            full-stack development.
        </p>

        <div class="mt-10 space-y-8">
            {
                experiences.map((exp) => (
                    <div class="space-y-2">
                        <h3 class="text-lg font-bold text-black">
                            {exp.role} at{" "}
                            <a
                                href={exp.link}
                                class="underline underline-offset-2"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                {exp.company}
                            </a>
                        </h3>
                        <p class="text-sm">
                            {exp.start} – {exp.end}
                        </p>
                        <ul class="list-disc space-y-1 pl-5 text-sm">
                            {exp.highlights.map((point) => (
                                <li>{point}</li>
                            ))}
                        </ul>
                    </div>
                ))
            }
        </div>
    </section>

    <section class="mt-16 space-y-10">
        <h2 class="mb-6 text-2xl font-extrabold text-black">Education</h2>

        <p class="space-y-6 text-lg leading-normal">
            My academic journey laid the foundation for my problem-solving skills and technical expertise, especially in
            software engineering and computer science fundamentals.
        </p>

        <div class="mt-10 space-y-10">
            {
                educations.map((edu) => (
                    <div class="border-l-2 pl-4">
                        <h3 class="text-base font-semibold">{edu.degree}</h3>
                        <p class="text-sm">{edu.institution}</p>
                        <p class="text-sm italic">{edu.period}</p>
                        {edu.description && <p class="mt-1 text-sm">{edu.description}</p>}
                        {edu.link && (
                            <div class="mt-2 text-base leading-normal">
                                <a
                                    href={edu.link}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="text-sm no-underline hover:text-black hover:underline"
                                >
                                    Visit the website &rarr;
                                </a>
                            </div>
                        )}
                    </div>
                ))
            }
        </div>
    </section>
</SiteLayout>
