---
import B from '@/components/B.astro';
import A from '@/components/A.astro';
import Img from '@/components/Img.astro';
import More from '@/components/More.astro';
import Card from '@/components/Card.astro';
import Label from '@/components/Label.astro';
import Layout from '@/components/Layout.astro';
import Button from '@/components/Button.astro';
import Section from '@/components/Section.astro';
import ContactEmail from '@/components/ContactEmail.astro';

import { socials } from '@/site.config';
import { featuredBlogs } from '@/utils/blogs';
import { featuredProjects } from '@/utils/projects';
import PreviewBlog from '@/components/PreviewBlog.astro';
import PreviewProject from '@/components/PreviewProject.astro';

const blogs = await featuredBlogs();
const projects = await featuredProjects();
---

<Layout meta={{ title: 'Portfolio' }}>
	<div class="mb-16 flex w-full flex-col gap-y-10">
		<!-- Intro Start -->
		<section class="flex flex-col items-center gap-y-7">
			<Img
				src="/src/assets/portrait.jpg"
				alt="Shihab Mahamud Profile"
				class="h-28 w-auto rounded-full bg-[#FFBE98] p-2"
				loading="eager"
			/>
			<div class="flex flex-col items-center gap-y-4">
				<h1 class="text-3xl font-bold">Hello, I'm Shihab Mahamud</h1>
				<p class="text-muted-foreground">Programmer | Problem Solver | Full-stack Developer</p>
				<ContactEmail />
				<div class="flex flex-wrap justify-center gap-x-7 gap-y-3">
					<Label title="Finnext.co" as="a" href="https://finnext.co" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5" slot="icon">
							<path
								fill="currentColor"
								d="M4.615 20q-.69 0-1.152-.462Q3 19.075 3 18.385v-9.77q0-.69.463-1.152Q3.925 7 4.615 7H9V5.615q0-.69.463-1.152Q9.925 4 10.615 4h2.77q.69 0 1.153.463q.462.462.462 1.152V7h4.385q.69 0 1.152.463q.463.462.463 1.152v9.77q0 .69-.462 1.152q-.463.463-1.153.463zm0-1h14.77q.23 0 .423-.192q.192-.193.192-.423v-9.77q0-.23-.192-.423Q19.615 8 19.385 8H4.615q-.23 0-.423.192Q4 8.385 4 8.615v9.77q0 .23.192.423q.193.192.423.192M10 7h4V5.615q0-.23-.192-.423Q13.615 5 13.385 5h-2.77q-.23 0-.423.192q-.192.193-.192.423zM4 19V8z"
							>
							</path>
						</svg>
					</Label>
					<Label title="Dhaka, Bangladesh">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5" slot="icon">
							<path
								fill="currentColor"
								d="M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904"
							>
							</path>
						</svg>
					</Label>
					<Label title="Connect on Linkedin" as="a" href={socials.linkedin} target="_blank">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 16 16"
							slot="icon"
							class="h-5 w-5 text-foreground/75"
						>
							<path
								fill="currentColor"
								d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"
							>
							</path>
						</svg>
					</Label>
				</div>
			</div>
		</section>
		<!-- Intro End -->
		<!-- About Start -->
		<Section title="About">
			<p class="text-muted-foreground">
				After graduating from high school, I was introduced to programming through the internet. I
				began learning programming with the <B>C language</B>, using Tamim Shahriar Subeen's book
				"Computer Programming". Subsequently, I engaged in <B>problem-solving</B> on various Competitive
				Programming platforms using <B>C/C++</B>. Over a period of 1.5 years, I solved over <B
					>1100+ problems</B
				>. During problem-solving, I also learned Data Structure And Algorithms My interest then
				shifted towards Web application development, prompting me to initially delve into backend
				development with <B>Node.js</B>, followed by frontend development with <B>React</B>. Over
				the past year, I have been engaged in contract-based work with a company called Finnext.co,
				where I have contributed to several notable projects. Currently, my focus lies on <B
					>Laravel</B
				>
				& <B>React</B> stacks. I believe it is the most productive way to build and maintain a dynamic
				full-stack web application. Also, sometime I work on <B>WordPress plugin development</B>. I
				am deeply passionate about continuously expanding my skill set and am actively seeking a
				full-time position as a software developer. Also I am currently a 4th year diploma student
				at Faridpur Polytechnic Institute studying <B>Computer Science</B>. When I'm not coding, I
				enjoy walking on street, watching movies, and chat with friends and family. I also enjoy
				learning new things. I am currently learning about Business & Entrepreneurship. Sometime I
				also write some
				<A href="/poems">bangla poems.</A>
			</p>
		</Section>
		<!-- About End -->
		<!-- Posts Start -->
		{
			blogs.length > 0 && (
				<Section title="Posts">
					<ul class="flex flex-col gap-y-2">
						{blogs.map((blog) => (
							<li class="flex flex-col gap-x-2 sm:flex-row">
								<PreviewBlog blog={blog} />
							</li>
						))}
					</ul>
					<div class="flex justify-end">
						<More href="/blogs">See all blogs</More>
					</div>
				</Section>
			)
		}
		<!-- Posts End -->
		<!-- Experience Start -->
		<Section title="Experience">
			{
				[
					{
						heading: 'Software Engineer - Intern @Systech Digital LTD',
						subheading: `
                            As a Laravel Software Engineer intern at Systech Digital LTD,
                            I gained hands-on experience in developing and optimizing 
                            web applications. My role involved building and enhancing 
                            backend systems using Laravel, collaborating with cross-functional
                            teams to implement new features, and ensuring application 
                            performance through code optimization and testing. This 
                            internship strengthened my skills in Laravel development 
                            and deepened my understanding of modern web technologies.
                        `,
						date: 'June 2024 - Present',
						imagePath: '/src/assets/systech-digital-ltd.png',
						altText: 'Systech Digital LTD logo'
					},
					{
						heading: 'Full-stack Developer @Finnext.co',
						subheading: `
                            I am working with Finnext.co as a Full-stack Developer, 
                            primarily focusing on their contract-based projects, 
                            predominantly with American clients. My responsibilities 
                            include both building and maintaining these applications. 
                            I have successfully completed several projects and continue 
                            to oversee their maintenance.
                        `,
						date: 'May 2023 - Present',
						imagePath: '/src/assets/finnext.co.png',
						altText: 'finnext.co logo',
						children: (
							<ul class="ml-4 list-disc text-muted-foreground">
								<li>
									Projects did/doing here:{' '}
									<A href="https://paystubhero.com" target="_blank">
										PaystubHero.com
									</A>
								</li>
								<li>
									Technologies used here: JavaScript, TypeScript, React, PHP, WordPress, mPDF,
									Stripe, TailwindCSS
								</li>
							</ul>
						)
					}
				].map((experience) => (
					<Card
						heading={experience.heading}
						subheading={experience.subheading}
						imagePath={experience.imagePath}
						altText={experience.altText}
						imageClass="h-12 w-auto md:-left-16"
					>
						{experience?.children || ''}
					</Card>
				))
			}
		</Section>
		<!-- Experience End -->
		<!-- Projects Start -->
		<Section title="Projects">
			<div class="flex flex-col gap-y-3">
				{projects.map((project) => <PreviewProject project={project} />)}
			</div>
			<div class="flex justify-end">
				<More href="/projects">See all projects</More>
			</div>
		</Section>
		<!-- Projects End -->
		<!-- Skills Start -->
		<Section title="Skills">
			{
				[
					{
						title: 'Languages',
						tools: ['C/C++', 'JavaScript/TypeScript', 'PHP', 'Elixir']
					},
					{
						title: 'Backend',
						tools: ['Laravel', 'WordPress', 'Phoenix', 'MySQL', 'SQLite']
					},
					{
						title: 'Frontend',
						tools: ['React.js', 'Vue.js', 'TailwindCSS', 'shadcn/ui']
					},
					{
						title: 'Others',
						tools: ['Git', 'Neovim', 'Linux', 'Docker', 'Composer']
					}
				].map((skill) => (
					<div class="flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0">
						<h3 class="w-1/5 font-medium">{skill.title}</h3>
						<div class="flex w-4/5 flex-row flex-wrap gap-x-4 gap-y-2">
							{skill.tools.map((skill) => (
								<Button as="span" title={skill} style="pill" />
							))}
						</div>
					</div>
				))
			}
		</Section>
		<!-- Skills End -->
		<!-- Certifications Start -->
		<Section title="Certifications">
			{
				[
					{
						heading: 'Think in a Redux way Course (Learn with Sumit)',
						subheading: `
            Shihab Mahamud participated in Learn with Sumit Platform presents 
            "Think in a Redux Way" course and performed exceptionally well. 
            Not only that, he was one of the First Top 10 Students of the course. 
            He completed all the modules very seriously and participated in all 
            the quizzes & all the assignments with excellent results. He appeared in
            the Final Examination of the course and scored 95.33% marks. Learn with 
            Sumit Platform believes he can be an excellent resource for any web 
            development company. We wish him continued success in life.
        `,
						date: 'Fab 2023 - Apr 2023',
						imagePath: '/src/assets/learn-with-sumit.png',
						altText: 'Think in a Redux way Course Certificate',
						href: 'https://learnwithsumit.com/certificates/verify/LWSCTXN-RUP3O34K'
					}
				].map((certification) => (
					<Card
						as="a"
						target="_blank"
						heading={certification.heading}
						subheading={certification.subheading}
						date={certification.date}
						imagePath={certification.imagePath}
						altText={certification.altText}
						imageClass="h-11 w-auto md:-left-16"
						href={certification.href}
					/>
				))
			}
		</Section>
		<!-- Certifications End -->
		<!-- Eduction Start -->
		<Section title="Education">
			{
				[
					{
						heading: 'Faridpur Polytechnic Institute',
						subheading: 'Diploma in Engineering, Computer Science & Technology',
						date: 'Dec 2021 - Nov 2024',
						imagePath: '/src/assets/faridpur-polytechnic-institute.png',
						altText: 'Faridpur Polytechnic Institute logo',
						children: (
							<ul class="ml-4 list-disc text-muted-foreground">
								<li>Specialized in Computer Science & Technology.</li>
								<li>
									Gained a strong foundation in software development, networking, and hardware.
								</li>
								<li>Developed practical skills to excel in the tech industry.</li>
							</ul>
						)
					},
					{
						heading: 'Kashiani G.C. Pilot High School',
						subheading: 'SSC, Science',
						date: 'Jan 2018 - Fab 2020',
						imagePath: '/src/assets/kashiani-g-c-pilot-high-school.png',
						altText: 'Kashiani G.C. Pilot High School logo',
						children: (
							<ul class="ml-4 list-disc text-muted-foreground">
								<li>Completed Secondary School Certificate (SSC) with a focus on Science.</li>
								<li>Acquired a solid understanding of core scientific principles.</li>
								<li>Laid the foundation for further studies in engineering and technology.</li>
							</ul>
						)
					}
				].map((eduction) => (
					<Card
						heading={eduction.heading}
						subheading={eduction.subheading}
						date={eduction.date}
						imagePath={eduction.imagePath}
						altText={eduction.altText}
						imageClass="h-12 w-auto md:-left-16"
					>
						{eduction.children || ''}
					</Card>
				))
			}
		</Section>
		<!-- Eduction End -->
	</div>
	<ContactEmail />
</Layout>
