---
import type { TExperience } from '@/types';

import A from './A.astro';
import M from './M.astro';
import Img from './Img.astro';

interface Props {
	experience: TExperience;
}

const {
	experience: { position, firm, description, date, projects }
} = Astro.props as Props;
---

<div
	class="relative rounded-2xl border border-border bg-primary-foreground px-5 py-3 text-muted-foreground"
>
	{
		!!firm.logo && (
			<Img
				src={firm.logo}
				alt={firm.alt}
				class="mb-3 h-12 w-auto md:absolute md:-left-16 md:mb-0"
			/>
		)
	}
	<div class="flex flex-col gap-y-1.5">
		<div class="flex flex-col gap-y-0.5">
			<h1 class="flex space-x-0.5 text-lg font-medium text-foreground">
				<span>{position} @</span>
				<a href={firm.link} target="_blank" class="hover:underline hover:underline-offset-4">
					{firm.name}
				</a>
			</h1>
			<date>{date}</date>
			<p>{description}</p>
			{
				projects.length > 0 && (
					<ul>
						{projects.map(({ name, href, target, items }) => (
							<li class="mt-2 rounded-lg border p-3">
								<a
									href={href}
									target={target}
									class="text-md font-semibold hover:underline hover:underline-offset-2"
								>
									{name}
								</a>
								<ul class="ml-6 list-disc text-sm text-muted-foreground">
									{items.map(({ label, value }) => (
										<li>
											{label && <M>{label}:</M>} {value}
										</li>
									))}
								</ul>
							</li>
						))}
					</ul>
				)
			}
		</div>
	</div>
</div>
