---
import type { TExperience } from 'config/experiences';

import A from './A.astro';
import M from './M.astro';
import Card from './Card.astro';

interface Props {
	experience: TExperience;
}

const {
	experience: { position, firm, description, date, projects }
} = Astro.props as Props;
---

<Card
	heading={`${position} @${firm.name}`}
	subheading={description}
	imagePath={firm.logo}
	altText={firm.alt}
	date={date}
	imageClass="h-12 w-auto md:-left-16"
>
	{
		projects.length > 0 && (
			<div class="mt-1 text-muted-foreground">
				<div class="mb-1">Projects:</div>
				<ul class="ml-4 list-disc text-muted-foreground">
					{projects.map(({ name, href, target, items }) => (
						<li>
							<A href={href} target={target as any} class="text-muted-foreground">
								{name}
							</A>
							<ul class="ml-4 list-disc text-muted-foreground">
								{items.map(({ label, value }) => (
									<li>
										<M>{label}:</M> {value}
									</li>
								))}
							</ul>
						</li>
					))}
				</ul>
			</div>
		)
	}
</Card>
