---
import Head, { type TSiteMeta } from './Head.astro';
import Footer from './Footer.astro';
import Header from './Header.astro';
import SpeedInsights from '@vercel/speed-insights/astro';
import ThemeProvider from './ThemeProvider.astro';

import { siteConfig } from '@/site.config';
import { cn } from '@/lib/utils';

interface Props {
	meta: TSiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title }
} = Astro.props;
---

<html lang={siteConfig.lang}>
	<head>
		<Head articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>

	<body class="flex justify-center bg-background">
		<ThemeProvider />
		<main
			class={cn(
				'flex min-h-screen w-screen max-w-[60rem] flex-col',
				'items-center px-6 pb-10 pt-7 font-satoshi text-[0.92rem]',
				'leading-relaxed selection:bg-red-500 selection:text-white sm:px-10 lg:px-10'
			)}
		>
			<Header />
			<slot />
			<Footer />
		</main>
		<SpeedInsights />
	</body>
</html>
