---
export const prerender = true;

import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';

import { Image } from 'astro:assets';

import Img from '@/components/Img.astro';
import Back from '@/components/Back';
import Links from '@/components/Links.astro';
import Scroll from '@/components/Scroll.astro';
import Layout from '@/components/Layout.astro';
import Technologies from '@/components/Technologies.astro';
import TableOfContents from '@/components/TableOfContents.astro';

import { allProjects } from '@/utils/projects';
import { suffixTitle } from '@/site.config';

export const getStaticPaths = (async () => {
	return (await allProjects()).map((entry) => ({
		params: { slug: entry.slug },
		props: { entry }
	}));
}) satisfies GetStaticPaths;

export type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry: project } = Astro.props as Props;

const {
	data: { title, type, ogimage, description, logo, cover, draft, technologies, links },
	slug
} = project;

const { Content, headings, remarkPluginFrontmatter } = await project.render();
---

<Layout
	meta={{
		title: suffixTitle(title),
		description,
		ogImage: ogimage ?? `/og-image/${slug}.png`
	}}
>
	<div class="w-full">
		<Back href="/projects" client:load />
		<div class="mt-8 gap-x-10 lg:flex lg:items-start">
			{!!headings.length && <TableOfContents headings={headings} />}
			<article class="flex-grow break-words" data-pagefind-body>
				<div id="project-hero" class="flex flex-col space-y-2">
					{
						cover && (
							<div class="aspect-h-9 aspect-w-16 mb-6">
								<Image
									alt={cover.alt}
									class="rounded-2xl object-cover"
									fetchpriority="high"
									loading="eager"
									src={cover.src}
								/>
							</div>
						)
					}
					{draft ? <span class="text-red-500">(Draft)</span> : null}
					<div class="flex flex-wrap items-center gap-x-3 gap-y-2">
						<p class="text-xs">
							{remarkPluginFrontmatter.minutesRead}
						</p>
					</div>
					<div class="mb-2 flex items-center space-x-2">
						{!!logo && <Img src={logo?.src} loading="eager" alt={logo?.alt} class="h-10 w-10" />}
						<h1 class="text-3xl font-medium">
							{title}
						</h1>
					</div>
					<Technologies type={type} technologies={technologies} class="mb-2 mt-2" />
					<!-- <Links links={links} class="gap-4" /> -->
				</div>
				<div
					class="prose prose-base prose-zinc mt-12 text-muted-foreground dark:prose-invert prose-headings:font-medium prose-headings:text-foreground prose-headings:before:absolute prose-headings:before:-ms-4 prose-th:before:content-none"
				>
					<Content />
				</div>
			</article>
		</div>
		<Scroll target="project-hero" />
	</div>
</Layout>
