---
import { getClientProjects, getDemoProjects, getOssProjects } from "~/lib/projects";

import { Container } from "~/components/ui/container";

import Layout from "~/components/layouts/layout/index.astro";
import Heading from "~/components/elements/heading.astro";

import OpenSourceWorks from "~/components/screens/projects/open-source-works.astro";
import WorkProjects from "~/components/screens/projects/work-projects.astro";

const clientProjects = await getClientProjects();
const demoProjects = await getDemoProjects();
const ossProjects = await getOssProjects();

const headline = "Things I've made trying to put my mark on the universe.";
---

<Layout name="Projects" pathname="/projects" description={headline}>
    <Container className="mt-16 sm:mt-32">
        <header class="max-w-2xl">
            <Heading>
                {headline}
            </Heading>
            <p class="mt-6 text-lg text-zinc-600 dark:text-zinc-400">
                I've worked on tons of little projects over the years, but these are some of the
                ones that I'm most proud of. If you see something that piques your interest, check
                it out via the link below. While you're there, feel free to contribute any ideas
                that would make it better. Remember: Open source!
            </p>
        </header>
        <WorkProjects title="Client's Works" projects={clientProjects} />
        <WorkProjects title="Demo Projects" projects={demoProjects} />
        <OpenSourceWorks />
        <WorkProjects projects={ossProjects} />
    </Container>
</Layout>
