---
import { getProjects } from "~/lib/projects";
import { svgs } from "~/lib/assets";

import { Card, CardDescription, CardLink } from "~/components/ui/card";
import { LinkIcon } from "~/components/icons/link-icon";
import { Container } from "~/components/ui/container";

import Layout from "~/components/layouts/layout/index.astro";

const projects = await getProjects();

const headline = "Things I’ve made trying to put my mark on the universe.";
---

<Layout name="Projects" pathname="/projects" description={headline}>
    <Container class="mt-16 sm:mt-32">
        <header class="max-w-2xl">
            <h1
                class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
            >
                {headline}
            </h1>
            <p class="mt-6 text-lg text-zinc-600 dark:text-zinc-400">
                I’ve worked on tons of little projects over the years, but these are some of the
                ones that I’m most proud of. If you see something that piques your interest, check
                it out via the link below. While you're there, feel free to contribute any ideas
                that would make it better. Remember: Open source!
            </p>
        </header>
        <div class="mt-16 sm:mt-20">
            <ul
                role="list"
                class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3"
            >
                {
                    projects.map((project) => (
                        <Card as="li">
                            <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white ring-1 shadow-md shadow-zinc-800/5 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                                <img
                                    src={svgs[project.data.logo].src}
                                    alt=""
                                    class="h-8 w-8"
                                    loading="lazy"
                                />
                            </div>
                            <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                                <CardLink
                                    href={project.data.link_href}
                                    target={project.data.link_external ? "_blank" : undefined}
                                >
                                    {project.data.name}
                                </CardLink>
                            </h2>
                            <CardDescription>{project.data.description}</CardDescription>
                            <p class="relative z-10 mt-6 flex text-sm font-medium text-zinc-400 transition group-hover:text-teal-500 dark:text-zinc-200">
                                <LinkIcon class="h-6 w-6 flex-none" />
                                <span class="ml-2">{project.data.link_label}</span>
                            </p>
                        </Card>
                    ))
                }
            </ul>
        </div>
    </Container>
</Layout>
