---
import type { TEducation } from '@/types';

import Img from '@/components/Img.astro';

interface Props {
	education: TEducation;
}

const {
	education: { institute, department, date, logo, alt, description, points }
} = Astro.props as Props;
---

<div
	class="relative rounded-2xl border border-border bg-primary-foreground px-5 py-3 text-muted-foreground"
>
	{!!logo && <Img src={logo} alt={alt} class="mb-3 h-12 w-auto lg:absolute lg:-left-16 lg:mb-0" />}
	<div class="flex flex-col gap-y-1.5">
		<h2 class="text-lg font-medium text-foreground">{institute}</h2>
		<p>{department}</p>
		<p>{description}</p>
		{
			points && points.length > 0 && (
				<ul class="ml-4 list-disc">
					{points.map((point) => (
						<li>{point}</li>
					))}
				</ul>
			)
		}
		<date>{date}</date>
	</div>
</div>
