---
import type { TExperience } from '@/types';

import Img from '@/components/Img.astro';

import { allProjects } from '@/utils/projects';

interface Props {
	experience: TExperience;
}

const {
	experience: { position, firm, description, date, projects }
} = Astro.props as Props;

const allProjectsMds = await allProjects();
---

<div
	class="relative rounded-2xl border border-border bg-primary-foreground px-5 py-3 text-muted-foreground"
>
	{
		!!firm.logo && (
			<Img
				src={firm.logo}
				alt={firm.alt}
				class="mb-3 h-12 w-auto lg:absolute lg:-left-16 lg:mb-0"
			/>
		)
	}
	<div class="flex flex-col gap-y-1.5">
		<div class="flex flex-col gap-y-0.5">
			<h1 class="flex flex-col text-lg font-medium text-foreground lg:flex-row lg:space-x-0.5">
				<span>{position}</span>
				<span>@<a href={firm.link} target="_blank" class="hover:underline">{firm.name}</a></span>
			</h1>
			<date>{date}</date>
			<p>{description}</p>
			{
				projects.length > 0 && (
					<ul class="mt-1 space-y-2">
						{projects.map((projectSlug) => {
							const project = allProjectsMds.find((p) => p.slug === projectSlug);
							if (!project) {
								return '';
							}
							return (
								<li class="rounded-2xl border p-3">
									<a
										href={`/projects/${project.slug}?back=/`}
										class="text-md font-semibold hover:underline hover:underline-offset-2"
									>
										{project.data.title}
									</a>
									<ul class="ml-6 list-disc text-sm text-muted-foreground">
										{project.data.date && (
											<li>
												<span class="font-medium">Date:</span>{' '}
												<span>
													{project.data.date.start} - {project.data.date.end}
												</span>
											</li>
										)}
										{project.data.technologies && project.data.technologies.length > 0 && (
											<li>
												<span class="font-medium">Technologies:</span>{' '}
												{project.data.technologies.map((technology, index) => (
													<span>
														{index + 1 === project.data.technologies?.length
															? `${technology}`
															: `${technology},`}
													</span>
												))}
											</li>
										)}
									</ul>
								</li>
							);
						})}
					</ul>
				)
			}
		</div>
	</div>
</div>
